<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            <a href="mailto:emeraldpowder@gmail.com">
              emeraldpowder@gmail.com
            </a>
          </li>
          <li>
            <a href="{{ page.base-url }}/donate">
              {% if page.lang == "en" %}donate{% endif %}
              {% if page.lang == "ru" %}поддержать{% endif %}
            </a>
          </li>
        </ul>
      </div>


      <div class="col-sm text-right">
        <p>
          <a href="https://www.youtube.com/c/EmeraldPowder" class="text-decoration-none" target="_blank">
            <img src="{{ "/assets/youtube.png" | relative_url }}" width="30" height="30" class="d-inline-block" alt="YouTube">
          </a>
          <a href="https://discord.com/4kd654Z" class="text-decoration-none" target="_blank">
            <img src="{{ "/assets/discord.png" | relative_url }}" width="30" height="30" class="d-inline-block" alt="Discord">
          </a>
          <a href="https://github.com/emeraldpowder" class="text-decoration-none" target="_blank">
            <img src="{{ "/assets/github.png" | relative_url }}" width="30" height="30" class="d-inline-block" alt="Github">
          </a>
        </p>

        <!-- <p>
          <a href="https://nicolas-van.github.io/bootstrap-4-github-pages/">Powered by Bootstrap 4 Github Pages</a>
        </p> -->
      </div>

    </div>

  </div>
</div>
